<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Spam Classifier</title>
  </head>
  <body>
    <h1>Email Spam Classifier</h1>
    <form method="POST">
      <textarea
        name="email_content"
        rows="5"
        cols="40"
        placeholder="Enter your email content here..."
      ></textarea>
      <br /><br />
      <button type="submit">Classify</button>
    </form>
    {% if result %}
    <h2>Result: {{ result }}</h2>
    {% endif %}

    <h3>Model Performance:</h3>
    <p><strong>Accuracy:</strong> {{ accuracy }}</p>
    <pre>{{ report }}</pre>
  </body>
</html>
